<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/admin/" module="Billets" action="index" />
  <route url="/admin/billets-insert\.html" module="Billets" action="insert" />
  <route url="/admin/billets-update-([0-9]+)\.html" module="Billets" action="update" vars="id" />
  <route url="/admin/billets-delete-([0-9]+)\.html" module="Billets" action="delete" vars="id" />
  <route url="/admin/comment-update-([0-9]+)\.html" module="Billets" action="updateComment" vars="id" />
  <route url="/admin/comment-delete-([0-9]+)\.html" module="Billets" action="deleteComment" vars="id" />
  <route url="/admin/preface-update-([0-9]+)\.html" module="Billets" action="updatePreface" vars="id" />
  <route url="/admin/intro-update-([0-9]+)\.html" module="Billets" action="updateIntro" vars="id" />
  <route url="/admin/descriptionAuteur-update-([0-9]+)\.html" module="Billets" action="updateDescriptionAuteur" vars="id" />
</routes>